body,
p {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(4, 1fr);
}

.nav {
  grid-area: nav;
  background-color: white;
}

.main {
  grid-area: main;
  background-color: green;
}

.footer {
  grid-area: footer;
  background-color: purple;
}

.btn {
  color: black;
  border-radius: 24px;
  outline: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 24px 32px;
  text-transform: uppercase;
  cursor: pointer;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}
