.adoption {
  margin-top: 16px;
  text-align: center;
  padding: 32px;
  text-transform: capitalize;
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .processCard {
    margin: 16px 32px;
  }
  span {
    &.soon {
      display: none;
    }
  }

  .process {
    padding: 48px;
    margin-top: 16px;
    border-radius: 16px;
    .img {
      margin-top: -24px;
    }
    .subTitle {
      font-size: 24px;
    }
    .text {
      margin-top: 16px;
    }
  }
  .one,
  .two,
  .three {
    &:hover {
      span {
        &.soon {
          display: block;
        }
      }
      .processCard {
        .subTitle,
        .text {
          color: transparent;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .steps {
      display: flex;
      justify-content: center;
    }
  }
}
